<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        body{
  background: url("https://api.paugram.com/wallpaper/") center/cover no-repeat;
}
    </style>
    <div id="io_news" class="rule-content">加载中...</div>
<!-- <script src="https://ionews.top/hot.php?key=TURNeU1ESXhOVGMzTWpreU5UUT11OHNSU05UZzJlbFV5YkVGNlNrdGpPVk5EY1hWdmRVSlVWazFvTUhSSlRWaGpOMVJu&id=100002&select=io_news"></script> -->
</body>
</html>